#####################################################################
#	Probe
#####################################################################

[probe]
##	This probe is not used for Z height, only Quad Gantry Leveling
##	In Z+ position
##	If your probe is NO instead of NC, change pin to ^!PA3
pin: ^Z_MAX
x_offset: 0
y_offset: 19.75
z_offset: 6.42
speed: 4
lift_speed: 15
samples: 4
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.05
samples_tolerance_retries: 3

[bed_mesh]
speed: 350
horizontal_move_z: 10
mesh_min: 30,30
mesh_max: 270,270
fade_start: 0.26
fade_end: 2
probe_count: 9,9
algorithm: bicubic
split_delta_z: 0.01
## (X * Y - 1 ) / 2
relative_reference_index: 40
mesh_pps: 2,2

[quad_gantry_level]
##	Use QUAD_GANTRY_LEVEL to level a gantry.
##	Min & Max gantry corners - measure from nozzle at MIN (0,0) and 
##	MAX (250, 250), (300,300), or (350,350) depending on your printer size
##	to respective belt positions
gantry_corners:
	-60,-10
	360,370
##	Probe points
points:
	50,25
	50,225
	250,225
	250,25
speed: 350
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10
